*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
:root{
  --header_heigth: 100px;
}
/*Согласно методологии БЭМ необходимо разбить css файл на модули*/

.wrapper{
  margin-top: var(--header_heigth);
  position: relative;
  padding: 0 10%;
  
}
.section_main{
  
  position: relative;
  display: flex;
  justify-content: space-between;

}

.title_second{
  font-size: 1.2em;
  font-weight: 600;
}
