*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}
body{
  font-size: 1em;
}
:root{
  --header_heigth: 100px;
}
/*Согласно методологии БЭМ необходимо разбить css файл на модули*/
html {
  overflow-y: scroll;
}
.wrapper{
  margin-top: var(--header_heigth);
  position: relative;
  padding: 0 20%;
  
}
.section_main{
  box-sizing: border-box;
  justify-content: center;
  position: relative;
  display: flex;

}
title-h1{
  font-size: 1.5em;
  font-weight: 600;
}
.title_second{
  font-size: 1.2em;
  font-weight: 600;
}
